martin_relaxng-3/martin_relaxng-3.rnc

start = root
root = element root {author, title, date, epigraph, chapter, book}
author = element author
title = element title
date = element date
epigraph = element epigraph {text, author}
text = attribute text
author = attribute author
chapter = element chapter
book = element book {quote}
quote = attribute quote